<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{titulo}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		{{> header }}

		<!-- Nav -->
			{{> nav }}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>hola soy {{ nombre }}</h2>
							<p>{{ fuerte }}</p>
						</header>
						<div class="content">
                            <p>Hola! Soy un estudiante de Ingeniería de Sistemas de la Universidad Simón Bolívar y estoy en búsqueda de oportunidades para crecer profesionalmente en el mundo del desarrollo del web. Como desarrollador junior, tengo conocimientos en backend y estoy siempre en constante aprendizaje para mejorar mis habilidades y conocimientos en el área. Me apasiona la tecnología y me encanta trabajar en equipo para lograr soluciones innovadoras y de calidad. Me considero una persona proactiva, responsable y comprometido con el trabajo que realizo. Si estás buscando a alguien con ganas de aprender y crecer en el área</p>

                            <p>del desarrollo de software, no dudes en contactarme.</p>
							
						</div>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer  }}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>